header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;

    img {
        height: 33px;
    }

    @media (max-width:700px) {
        padding: 20px 0px;
    }

    @media (max-width:500px) {
        padding: 10px 0px;
    }
}

.burger-menu-btn {
    cursor: pointer;
}

.menu-div {
    position: absolute;
    width: 1440px;
    left: 0px;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 2;
    background: linear-gradient(187deg, #FFFCF3 79%, black 71%);
    height: 969px;
    display: none;
    opacity: 0;

    @media (max-height:1080px) {
        height: calc(100vh - 93px);
    }

    @media (max-width:1640px) {
        width: calc(100vw - 200px);
    }

    @media (max-width:1440px) {
        width: calc(100vw - 100px);
        left: -0px;
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width:800px) {
        height: calc(100vh - 93px);

    }

    @media (max-width:700px) {
        height: calc(100vh - 73px);
        width: calc(100vw - 50px);
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (max-width:500px) {
        height: calc(100vh - 53px);
    }
}

.menu-active {
    animation: smooth-show 225ms ease-in-out 125ms forwards;
    display: flex !important;
}

@keyframes smooth-show {
    0% {
        opacity: 0;
        background: linear-gradient(187deg, #FFFCF3 79%, black 71%);
    }

    100% {
        opacity: 1;
        background: linear-gradient(185deg, #FFFCF3 70%, black 71%);
    }
}

.menu-links-outer-div {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.menu-links {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 610px;


    @media (max-width:700px) {
        width: 460px;
    }

    @media (max-width:580px) {
        width: 350px;
    }

    @media (max-width:460px) {
        width: 315px;
    }
}

.menu-links-animation {
    animation: moving-up 225ms ease-in-out 125ms forwards;

    @media (max-width:1350px) {
        animation: moving-up-mobile-1350 225ms ease-in-out 125ms forwards;
    }

    @media (max-width:800px) {
        animation: moving-up-mobile-800 225ms ease-in-out 125ms forwards;
    }


}

@keyframes moving-up {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 350px;
    }
}


@keyframes moving-up-mobile-1350 {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 285px;
    }
}

@keyframes moving-up-mobile-800 {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 220px;
    }
}

.menu-link {
    width: 100%;
    text-align: center;

    h2 {
        font-family: 'Syne', 'Arial', 'Verdana', sans-serif;
        font-size: 96px;
        font-weight: 700;
        position: relative;
        margin: 0px;
        padding: 40px;

        a {
            text-decoration: none;
            color: black;
        }

        @media (max-width:1350px) {
            font-size: 77px;
            padding: 32px
        }

        @media (max-width:700px) {
            font-size: 60px;
        }

        @media (max-width:580px) {
            font-size: 50px;
        }

        @media (max-width:460px) {
            font-size: 45px;
            padding: 27px;
        }
    }

    span::before {
        content: '';
        position: absolute;
        width: 60px;
        height: 50px;
        background: transparent;
        transition: 1s;

        @media (max-width:700px) {
            width: 50px;
            height: 40px;
        }

        @media (max-width:580px) {
            width: 40px;
            height: 30px;
        }

        @media (max-width:460px) {
            width: 30px;
            height: 20px;
        }
    }

    span::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        background: transparent;
        transition: 1s;
        opacity: 0;
    }

    span::before {
        bottom: -2px;
        left: -2px;
        border-bottom: 4px solid black;
        border-left: 4px solid black;
    }

    span::after {
        bottom: -2px;
        right: -2px;
        border-bottom: 4px solid black;
    }

    h2:hover span::before {
        animation-duration: 225ms;
        animation-delay: 125ms;
        animation-fill-mode: forwards;

        @media (min-width:701px) {
            animation-name: border-sliding-before;
        }
    }

    h2:hover span::after {
        opacity: 1;
        animation-duration: 225ms;
        animation-delay: 125ms;
        animation-fill-mode: forwards;

        @media (min-width:701px) {
            animation-name: border-sliding-after;
        }
    }
}

@keyframes border-sliding-after {
    0% {
        width: 0px;
    }

    50% {
        width: 610px;
    }

    75% {
        width: 300px;
    }

    100% {
        width: 200px;
    }
}

@keyframes border-sliding-before {
    0% {
        width: 60px;
        height: 50px;
    }

    50% {
        height: 0px;
        width: 600px;
    }

    100% {
        opacity: 0;
        height: 0px;
        width: 0px;
    }
}

.sayhi-headline {
    cursor: pointer;
    font-size: 78px;
    font-weight: 800;
    font-family: 'Syne', 'Arial', 'Verdana', sans-serif;
    margin: 0px;
    position: absolute;
    left: 0px;
    bottom: 115px;
    color: white;
    transition: all 125ms ease-in-out;
    text-decoration: none;
    padding-left: 100px;
    z-index: 1;

    &:hover {
        color: #FF9900;
    }

    @media (max-width:1440px) {
        padding-left: 50px;
    }

    @media (max-width:1350px) {
        font-size: 62px;
    }

    @media (max-width:880px) {
        font-size: 47px;
        animation: mobile-font-flash-white 3s steps(2, jump-none) infinite;
    }

    @media (max-width:800px) {
        bottom: 80px;
    }

    @media (max-width:700px) {
        padding-left: 25px;
    }

    @media (max-width:580px) {
        font-size: 42px;
        bottom: 110px;
    }

    @media (max-width:385px) {
        font-size: 36px;
    }
}

.menu-footer {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    width: 1440px;
    padding-bottom: 60px;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    bottom: 0px;

    @media (max-height:1080px) {
        padding-bottom: 30px;
    }

    @media (max-width:1640px) {
        width: calc(100vw - 200px);
    }

    @media (max-width:1440px) {
        width: calc(100vw - 100px);
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width:800px) {
        padding-bottom: 25px;
    }

    @media (max-width:700px) {
        width: calc(100vw - 50px);
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (max-width:580px) {
        flex-direction: column-reverse;
    }
}



.burger-menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 33px;

    span {
        box-sizing: border-box;
        height: 0px;
        width: 40px;
        border: 2px solid black;
        background-color: black;
    }
}

.burger-up {
    animation-name: burger-up-animation;
    animation-duration: 500ms;
    animation-delay: 125ms;
    animation-fill-mode: forwards;
}

.burger-down {
    animation-name: burger-down-animation;
    animation-duration: 500ms;
    animation-delay: 125ms;
    animation-fill-mode: forwards;
}

.burger-middle {
    animation-name: burger-middle-animation;
    animation-duration: 500ms;
    animation-delay: 125ms;
    animation-fill-mode: forwards;
}

@keyframes burger-middle-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes burger-up-animation {
    0% {
        width: 40px;
    }

    10% {
        width: 20px;
        transform: translateX(0px);
    }

    20% {
        width: 20px;
        transform: translateX(10px) rotate(0deg);
    }

    50% {
        width: 20px;
        transform: translateX(10px) rotate(-45deg);
    }

    90% {
        transform: translateX(10px) rotate(-45deg) translateY(0px);
    }

    100% {
        width: 20px;
        transform: translateX(3px) rotate(-44deg) translateY(8px);
    }
}

@keyframes burger-down-animation {
    0% {
        width: 40px;
        transform: translateX(0px);
    }

    10% {
        width: 20px;
        transform: translateX(0px);
    }

    20% {
        width: 20px;
        transform: translateX(-10px) rotate(0deg);
    }

    50% {
        width: 20px;
        transform: translateX(-10px) rotate(-45deg);
    }

    90% {
        transform: translateX(-10px) rotate(-45deg) translateY(0px);
    }

    100% {
        width: 20px;
        transform: translateX(-3px) rotate(-45deg) translateY(-9px);

    }
}

.burger-up-reverse {
    animation: burger-up-reverse-animation 225ms ease-in-out 0ms 1 reverse backwards;
}

.burger-middle-reverse {
    animation: burger-middle-reverse-animation 225ms ease-in-out 0ms 1 reverse backwards;
    /*animation-name: burger-middle-reverse-animation;
    animation-duration: 225ms;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
    animation-direction: reverse;
    animation-iteration-count: 1;*/
}

.burger-down-reverse {
    animation: burger-down-reverse-animation 225ms ease-in-out 0ms 1 reverse backwards;

}

@keyframes burger-up-reverse-animation {
    0% {
        width: 40px;
    }

    10% {
        width: 20px;
        transform: translateX(0px);
    }

    20% {
        width: 20px;
        transform: translateX(10px) rotate(0deg);
    }

    50% {
        width: 20px;
        transform: translateX(10px) rotate(-45deg);
    }

    90% {
        transform: translateX(10px) rotate(-45deg) translateY(0px);
    }

    100% {
        width: 20px;
        transform: translateX(4px) rotate(-44deg) translateY(6px);
    }
}

@keyframes burger-middle-reverse-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes burger-down-reverse-animation {
    0% {
        width: 40px;
        transform: translateX(0px);
    }

    10% {
        width: 20px;
        transform: translateX(0px);
    }

    20% {
        width: 20px;
        transform: translateX(-10px) rotate(0deg);
    }

    50% {
        width: 20px;
        transform: translateX(-10px) rotate(-45deg);
    }

    90% {
        transform: translateX(-10px) rotate(-45deg) translateY(0px);
    }

    100% {
        width: 20px;
        transform: translateX(-3px) rotate(-45deg) translateY(-9px);
    }
}