<header>
    <img src="assets/layout/logo.svg">
    <!--<img class="burger-menu-btn" (click)="menuActive = !menuActive" src="assets/layout/burger-menu.svg">
    -->
    <div (click)="menuActive = !menuActive" class="burger-menu-button">
        <span [ngClass]="menuActive ? 'burger-up':'burger-up-reverse'"></span>
        <span [ngClass]="menuActive ? 'burger-middle':'burger-middle-reverse'"></span>
        <span [ngClass]="menuActive ? 'burger-down':'burger-down-reverse'"></span>
    </div>
</header>

<div class="menu-div" [class.menu-active]="menuActive">


    <div class="menu-links" [class.menu-links-animation]="menuActive">
        <div class="menu-link">
            <h2><span></span>About me</h2>
        </div>

        <div class="menu-link">
            <h2><span></span>My skills</h2>
        </div>

        <div class="menu-link">
            <h2><span></span>Portfolio</h2>
        </div>
    </div>

    <h2 class="sayhi-headline">Say Hi!</h2>

    <app-footer class="menu-footer"></app-footer>
</div>