.logo-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    img {
        width: 66px;
    }

    span {
        color: white;
        font-size: 23px;
    }
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;


}

.legal-notice {
    cursor: pointer;
    text-align: center;
    width: 130px;
    margin-top: 15px;

    &:hover {
        div {
            transform: translateX(55px) scale(1);
            opacity: 1;
        }
    }

    a {
        color: white;

        &:hover {
            font-weight: 700;
        }
    }

    div {
        transition: all 125ms ease-in-out;
        width: 55.5px;
        border: 2px solid #FF9900;
        transform: scale(0.5) translateX(50px);
        opacity: 0;
        margin-top: 5px;
    }
}

.social-btns {
    display: flex;
    justify-content: space-around;
    width: 205px;

    div {
        img {
            cursor: pointer;
            width: 40px;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            img {
                transform: translateY(-20px);
            }
        }
    }
}