.logo-social-logos {
    display: flex;
    width: 100%;
    align-items: center;

    img {
        width: 66px;
    }
}

.logo {
    cursor: pointer;

    img {
        width: unset !important;
        height: 33px;
        filter: invert(1);
    }
}

.logo-social-logos-mobile {
    @media (max-width:500px) {
        flex-direction: column-reverse;
        height: 100px;
    }
}

.name-legal-notice {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 17px;

    span {
        color: white;
        font-size: 23px;
    }
}

.name-legal-notice-mobile {
    @media (max-width:500px) {
        flex-direction: column;
        height: 80px;
        margin-top: 27px;
    }
}

.legal-notice {
    cursor: pointer;
    text-align: center;
    width: 130px;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            font-weight: 700;
        }
    }

    div {
        transition: all 125ms ease-in-out;
        width: 55.5px;
        border: 2px solid #FF9900;
        transform: translateX(50px) scale(0.5);
        opacity: 0;
        margin-top: 5px;
    }

    &:hover {
        div {
            transform: translateX(55px) scale(1);
            opacity: 1;
        }
    }
}

.social-btns {
    display: flex;
    justify-content: space-around;
    width: 205px;
    margin-left: auto;

    a {
        cursor: pointer;

        img {
            width: 40px;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            img {
                transform: translateY(-20px);
            }
        }
    }
}

.social-btns-mobile {
    @media (max-width:500px) {
        margin-bottom: 25px;
        margin-left: unset;
    }
}