<div [class.logo-social-logos-mobile]="!headerMenuActive" class="logo-social-logos">

    <a class="logo" routerLink="/"><img *ngIf="!headerMenuActive" src="assets/layout/logo.png"></a>

    <div [class.social-btns-mobile]="!headerMenuActive" class="social-btns">

        <a href="https://github.com/PierreRudolph" target="_blank" rel="noopener noreferrer">
            <img src="assets/layout/git-btn.svg"></a>

        <a href="mailto:PLettner@hotmail.de"><img src="assets/layout/email-btn.svg"></a>

        <a href="https://www.linkedin.com/in/pierre-lettner-238b45280" target="_blank" rel="noopener noreferrer"><img
                src="assets/layout/linkedin-btn.svg"></a>
    </div>
</div>
<div [class.name-legal-notice-mobile]="!headerMenuActive" class="name-legal-notice">

    <span *ngIf="!mobileStyle && !headerMenuActive">© Pierre Lettner 2023</span>
    <span *ngIf="mobileStyle || headerMenuActive">PLettner@Hotmail.de</span>

    <div *ngIf="!headerMenuActive" class="legal-notice">
        <a href="#legalNoticeTop" routerLink="/legal-notice">Legal Notice</a>
        <div></div>
    </div>
</div>