<div class="about-me">
    <h2>About me</h2>

    <!--
Hallo Welt! Ich bin ein Front-end Entwickler aus der Nähe von Augsburg. Ich hatte viel Freude dabei in die Welt des Programmierens einzutauchen.
     Jetzt schaue ich mit Interesse darauf, welche Herausforderungen das Berufsleben eines Programmierers mit sich bringt.
-->

    <!--
Bitte kontaktieren Sie mich, falls meine Arbeit ihnen zusagt, auf eine gute Zusammenarbeit!
-->

    <span>Hello, world! I am a front-end developer from near Augsburg. I had a lot of fun diving into the world of
        programming.
        Now I am looking with interest at what challenges the professional life of a programmer brings with it.</span>

    <span>Please contact me if my work appeals to you, here's to a good cooperation!</span>

    <a class="button-black" *ngIf="mobileStyle" href="#say-hi">Let's talk</a>
</div>
<div class="about-me-img">
    <div class="profil-img">
        <img src="assets/img/profile-pic.png">
        <div>Professionelles Bild von mir ist in Arbeit.</div>
    </div>

    <div class="border-div"></div>
</div>