<div class="about-me">
    <h2>About me</h2>

    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum, a at animi inventore minus maxime
        numquam exercitationem nostrum officia vero rem qui, optio amet corrupti deserunt vitae quidem alias?</span>

    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum, a at animi.</span>

    <button class="lets-talk-btn">Let`s talk</button>
</div>
<img class="about-me-img" src="assets/img/profile-pic.png">