<div class="about-me">
    <h2>About me</h2>

    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum, a at animi inventore minus maxime
        numquam exercitationem nostrum officia vero rem qui, optio amet corrupti deserunt vitae quidem alias?</span>

    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum, a at animi.</span>

    <a class="button-black" *ngIf="mobileStyle" href="#say-hi">Let's talk</a>
</div>
<div class="about-me-img">
    <div class="profil-img">
        <img src="assets/img/profile-pic.png">
    </div>

    <div class="border-div"></div>
</div>