.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;

    h2 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: 78px;
        transition: all 125ms ease-in-out;

        &:hover {
            color: #FF9900;
        }

        @media (max-width:1350px) {
            font-size: 62px;
        }

        @media (max-width:880px) {
            font-size: 47px;
            animation: mobile-font-flash-black 3s steps(2, jump-none) infinite;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        @media (max-width:580px) {
            font-size: 42px;
        }

        @media (max-width:385px) {
            font-size: 36px;
        }
    }

    span {
        font-size: 23px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    @media (max-width:1350px) {
        width: 580px;
    }

    @media (max-width:630px) {
        width: 100%;
    }

}

.about-me span:nth-of-type(2) {
    margin-top: 10px;
}



.about-me-img {
    width: 533px;
    margin-top: 195px;
    position: relative;

    &:hover {
        div {
            opacity: 1;
            pointer-events: all;
        }
    }

    @media (max-width:1350px) {
        width: 421px;
        margin-top: 150px;
    }

    @media (max-width:580px) {
        width: 340px;
    }

    @media (max-width:400px) {
        width: 290px;
    }

    @media (max-width:385px) {
        width: 260px;
    }
}

.profil-img {
    width: 100%;

    img {
        object-fit: contain;
        width: 100%;
    }
}

.border-div {
    opacity: 0;
    background-color: transparent;
    border: 5px solid black;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 528px;
    height: 528px;
    pointer-events: none;
    box-shadow: 0px 0px 6px 2px inset white;
    box-sizing: border-box;

    @media (max-width:1350px) {
        width: 421px;
        height: 421px;
    }

    @media (max-width:880px) {
        animation: mobile-border-flash 3s steps(2, jump-none) infinite;
    }

    @media (max-width:580px) {
        width: 340px;
        height: 340px;
    }

    @media (max-width:400px) {
        width: 290px;
        height: 290px;
    }

    @media (max-width:385px) {
        width: 260px;
        height: 260px;
    }
}

@keyframes mobile-border-flash {
    0% {
        opacity: 0;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        pointer-events: all;
    }
}