<div class="arrow-space" (mouseover)="arrowAnimation=true">
    <div class="arrow-left " [class.arrow-animation]="arrowAnimation">

    </div>
</div>

<div id="say-hi" class="headline">
    <h2>Say Hi!</h2>
</div>

<div class="contact-field">
    <p>Want to discuss a new project?</p>
    <span>Say hello! let's discuss your ideas and make it happen</span>

    <form class="contact-form">
        <input placeholder="Your name">
        <input placeholder="Your email">
        <textarea placeholder="Your message"></textarea>
        <button class="button-black">Send message</button>
    </form>
</div>