.main-div {
    background-color: #FFFCF3;
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    @media (max-width:1640px) {
        width: calc(100vw - 200px);
    }

    @media (max-width:1440px) {
        width: calc(100vw - 100px);
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width:700px) {
        width: calc(100vw - 50px);
        padding-left: 25px;
        padding-right: 25px;
    }
}

:host {
    width: 100%;
}

.mouse-cyrcle {
    pointer-events: none;
    z-index: 2;
    border: 4px solid black;
    height: 250px;
    width: 250px;
    transition: left 80ms linear, top 80ms linear, opacity 225ms ease-in-out;
    background: 187deg, rgb(255, 252, 243, 0.0) 79%, black 71%;
    box-shadow: 0px 0px 6px 2px inset white;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: -50px;
    opacity: 0;
}

.mouse-img-div {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    rotate: 0deg;

    img {
        height: 33px;
        position: absolute;
        top: 15px;
        left: 100px;
        filter: invert(1);
    }
}

.header {
    width: 1440px;
    position: fixed;
    top: 0px;
    left: auto;
    right: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #FFFCF3;
    z-index: 2;

    @media (max-width:1640px) {
        width: calc(100vw - 200px);
    }

    @media (max-width:1440px) {
        width: calc(100vw - 100px);
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width:700px) {
        width: calc(100vw - 50px);
        padding-left: 25px;
        padding-right: 25px;
    }
}



.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;

    @media (max-width:1440px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width:500px) {
        padding-top: 60px;
    }
}