<div (mousemove)="onMouseMove($event)" class="main-div" #mainDiv (scroll)="scrollHandler($event)">
    <div [style.left]="(cyrclePosX-820)+'px'" [style.top]="(cyrclePosY-250)+'px'" class="mouse-cyrcle"></div>

    <app-header class="header"></app-header>
    <app-above-fold class="above-fold"></app-above-fold>
    <app-about-me class="about-me"></app-about-me>
    <app-my-skills class="my-skills"></app-my-skills>
    <app-portfolio class="portfolio"></app-portfolio>
    <app-contact-form class="contact-form"></app-contact-form>
    <app-footer class="footer"></app-footer>
</div>