<div #scrollArea (mousemove)="onMouseMove($event)" class="main-div" #mainDiv>



    <app-header class="header"></app-header>
    <app-above-fold id="above-fold" class="above-fold"></app-above-fold>
    <app-about-me id="about-me" class="about-me"></app-about-me>
    <app-my-skills class="my-skills"></app-my-skills>
    <app-portfolio class="portfolio"></app-portfolio>
    <app-contact-form class="contact-form"></app-contact-form>
    <app-footer class="footer"></app-footer>
</div>

<div *ngIf="cyrclePosX > 10 && cyrclePosX <= (windowWidth - 10)" [style.left]="(cyrclePosX - 120)+'px'"
    [style.top]="(cyrclePosY - 120)+'px'"
    [style.background]="'linear-gradient(' + (linearGradientDeg * 100) + 'deg, rgb(255, 252, 243, 0.0) 79%, black 71%)'"
    class="mouse-cyrcle">

    <div class="mouse-img-div" [style.rotate.deg]="(linearGradientDeg * 100)">
        <img src="assets/layout/logo.png">
    </div>

</div>