<div (mousemove)="onMouseMove($event)" class="main-div" #mainDiv>

    <app-header class="header"></app-header>

    <router-outlet></router-outlet>

    <app-footer class="footer"></app-footer>
</div>

<div *ngIf="mouseCyrclePosX >= 10 && mouseCyrclePosX <= (windowWidth - 10) && !touchDevice" [style.opacity]="mouseMove"
    [style.left]="(mouseCyrclePosX - 120)+'px'" [style.top]="(mouseCyrclePosY - 120)+'px'"
    [style.background]="'linear-gradient(' + (mouseCyrcleDeg * 100) + 'deg, rgb(255, 252, 243, 0.0) 79%, black 71%)'"
    class="mouse-cyrcle">

    <div class="mouse-img-div" [style.rotate.deg]="(mouseCyrcleDeg * 100)">
        <img src="assets/layout/logo.png">
    </div>

</div>