<div class="arrow-space" (mouseover)="arrowAnimation=true" #mySkillsArrow>
    <div class="arrow-left" [class.arrow-animation]="arrowAnimation">

    </div>
</div>
<div class="my-skills">

    <h2>My skills</h2>

    <div class="skill-icons">

        <div><img src="assets/layout/angular.svg" alt="Angular Icon">
            <span>Angular</span>
        </div>

        <div><img src="assets/layout/typescript.svg" alt="Typescript Icon">
            <span>Typescript</span>
        </div>

        <div><img src="assets/layout/javascript.svg" alt="Javascript Icon">
            <span>JavaScript</span>
        </div>

        <div><img src="assets/layout/html.svg" alt="HTML Icon">
            <span>HTML</span>
        </div>

        <div><img src="assets/layout/css.svg" alt="Css Icon">
            <span>Css</span>
        </div>

        <div><img src="assets/layout/firebase.svg" alt="Firebase Icon">
            <span>Firebase</span>
        </div>

        <div><img src="assets/layout/git.svg" alt="Git Icon">
            <span>Git</span>
        </div>

        <div><img src="assets/layout/scrum.svg" alt="Scrum Icon">
            <span>Scrum</span>
        </div>

        <div><img src="assets/layout/api.svg" alt="Rest Api Icon">
            <span>Rest-Api</span>
        </div>

        <div><img src="assets/layout/material.svg" alt="Material Design Icon">
            <span>Material<br>design</span>
        </div>
    </div>
</div>