@import url("./assets/fonts/fonts.css");

body {
    font-family: 'Overpass', 'Arial', 'Verdana', sans-serif;
}

.main-outer-div {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}