@import url("./assets/fonts/fonts.css");

:root {
    --doc-height: 100%;
}

html,
body {
    height: 100vh;
    height: var(--doc-height);
    background-color: black;
    font-family: 'Overpass', 'Arial', 'Verdana', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.main-outer-div {
    margin: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.button-black {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 20px 60px;
    gap: 10px;

    background: transparent;
    border: 4px solid #000000;

    font-size: 23px;
    line-height: 120%;

    transition: all 165ms ease-in-out;

    &:hover {
        font-weight: 700;
        padding: 20px 80px;
    }

    @media (max-width:385px) {
        font-size: 20px;
    }
}

@keyframes mobile-font-flash-white {
    from {
        color: white;
    }

    to {
        color: #FF9900;
    }
}

@keyframes mobile-font-flash-black {
    from {
        color: black;
    }

    to {
        color: #FF9900;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;

    @media (max-width:880px) {
        width: 0px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #FFFCF3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85);
    border-radius: 10px;
}